.certificate_container{
    padding-bottom: 4rem;
}

.client_certificate img {
    height: auto;
    width: 100%;
    object-fit: contain;
    border-radius: 1rem;
    transition: transform 400ms ease;
}

.client_certificate img:hover {
    transform: scale(1.1);
    z-index: 10;
}
.client_avtar {
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary-variant);
}
.certificate {
    background: var(--color-bg-variant);
    text-align: center;
    padding: 2rem;
    border-radius: 1.1rem;
    user-select: none;
    transition: var(--transition);
}

.certificate:hover {
    transform: scale(1.05);
    background: transparent;
    border: 1px solid var(--color-primary-variant);
}

.client_name {
    font-size: 16px;
    font-weight: bold;
    margin-top: 1.5rem;
    color: var(--color-white);
}

.swipe-pagination-clickable .swiper-pagination-bullet {
    background: var(--color-primary);
}

/* =============== Media Queries (Medium Devices) ================ */

@media screen and (max-width:1024px){

}

/* =============== Media Queries (Small Devices) ================ */

@media screen and (max-width:600px){
    .client_review{
        width: var(--container-width-sm);
    }
}